<html layout:decorator="layouts/layout">
	<head>
		<meta charset="UTF-8"/>
	</head>

	<div layout:fragment="content">
		
		<!-- Primeira linha -->
		<div class="row">
			<div class="col-lg-12">
			
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Meus Repositórios</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="row">
						<div class="col-lg-12">
							<a class="btn btn-primary" th:href="@{/repository_connector/create}">
								Novo <span th:text="${controllerTitle}"/>
							</a>
						</div>
					</div>
				  	<hr />
				  	<div th:if="${#lists.isEmpty(listConnectors)}">
						<i>Nenhum repositório localizado.</i>
					</div>
		
					<!-- Bloco -->
					<div class="row" th:if="!${#lists.isEmpty(listConnectors)}">
						<!-- TODO: Thymeleaf proccess -->
					
						<!-- Item Default-->
						<div class="col-lg-4" th:each="repositorio : ${listConnectors}">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3 class="panel-title">Repositório
										<span th:text="${repositorio.name}">Nome</span>
									</h3>
								</div>
								<div class="panel-body">
									<!-- Dados -->
									<div class="row">
										<div class="col-lg-4"><b>Usuário: </b></div>
										<div class="col-lg-8">
											<span th:text="${repositorio.username}">Usuário</span>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-4"><b>Criado em: </b></div>
										<div class="col-lg-8">
											<span th:text="${repositorio.createAt}">Criado em</span>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-4"><b>URL: </b></div>
										<div class="col-lg-8">
											<span th:text="${repositorio.repositoryLocation.url}">URL</span>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-4"><b>Localização: </b></div>
										<div class="col-lg-8">
											<span th:text="${repositorio.repositoryLocation.locationType.location}">Localização</span>
										</div>
									</div>
									
									<div class="row">
										<div class="col-lg-4"><b>Version: </b></div>
										<div class="col-lg-8">
											<span th:text="${repositorio.repositoryLocation.versionManager.versionManager}">Versionamento</span>
										</div>
									</div>	
							
									<hr />
						
									<div class="row">
										<div class="col-lg-12">
											<span th:text="${repositorio.description}">Descrição</span><br />
										</div>
									</div>
									
									<hr />
									
									<div class="row">
										<div class="col-lg-6">
											<a class="btn btn-success btn-sm" th:href="@{'/repository_connector/start_connection/{id}'(id=${repositorio.id})}">
												Conectar
											</a>
										</div>
										<div class="col-lg-6">
											<form action="#" th:action="@{/repository_connector/edit}" method="post" >
							    				<input type="hidden" name="idObj" th:value="${repositorio.id}" />
							    				<input type="submit" class="btn btn-default btn-sm" value="Editar" />
							    			</form>
										</div>
										<!-- 
										<div class="col-md-4">
											<a class="btn btn-danger btn-sm">
												Desconectar
											</a>
										</div>
										 -->
									</div>
								</div>
							</div>
						</div>
					</div>
					
				  </div>
				</div>
				
			</div>
		</div>
		
		<hr />
		
		<!-- Segunda linha -->
		<div class="row">	
  			<div class="col-lg-12">
  				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Projetos</h3>
				  </div>
				  <div class="panel-body">
				    <div th:if="${#lists.isEmpty(listProject)}">
						<i>Nenhum projeto localizado.</i>
					</div>
				  	
				  	<table class="table table-striped" th:if="!${#lists.isEmpty(listProject)}">
				  		<tr>
							<th>Nome</th>
							<th>Caminho</th>
							<th>Visualizar</th>
							<th>Editar</th>
							<th>Remover</th>
						</tr>
						<tr th:each="item : ${listProject}">
							<td th:text="${item.name}"></td>
							<td th:text="${item.path}"></td>
							<td>
								<form action="#" th:action="@{/dashboard/project_dashboard}" method="post" >
				    				<input type="hidden" name="idProject" th:value="${item.id}" />
				    				<input type="submit" class="btn btn-default btn-xs" value="Dashboard" />
				    			</form>
							</td>
							<td>
								<a class="btn btn-warning btn-xs">Edit</a>
							</td>
							<td>
								<a class="btn btn-danger btn-xs">Remove</a>
							</td>
						</tr>
				  	</table>
				  </div>
				</div>
  			</div>
		</div>
		
	</div>

</html>