<html layout:decorator="layouts/layout">
	<head>
		<meta charset="UTF-8"/>
	</head>
	
	<div layout:fragment="content">
		<h3><span th:text="${controllerTitle}"/> > Lista</h3>
		
		<div class="row">
			<div class="col-md-12">
				<a class="btn btn-primary" th:href="@{/repository_connector/create}">
					Novo <span th:text="${controllerTitle}"/>
				</a>
			</div>
		</div>
		
		<hr />
		
		<div th:if="${#lists.isEmpty(list)}">
			<i>Nenhum repositório localizado.</i>
		</div>
		
		<!-- Bloco -->
		<div class="row" th:if="!${#lists.isEmpty(list)}">
			<!-- TODO: Thymeleaf proccess -->
		
			<!-- Item Default-->
			<div class="col-md-4" th:each="repositorio : ${list}">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title">Repositório
							<span th:text="${repositorio.name}">Nome</span>
						</h3>
					</div>
					<div class="panel-body">
						<!-- Dados -->
						<div class="row">
							<div class="col-md-4"><b>Usuário: </b></div>
							<div class="col-md-8">
								<span th:text="${repositorio.username}">Usuário</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4"><b>Criado em: </b></div>
							<div class="col-md-8">
								<span th:text="${repositorio.createAt}">Criado em</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4"><b>URL: </b></div>
							<div class="col-md-8">
								<span th:text="${repositorio.url}">URL</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4"><b>Localização: </b></div>
							<div class="col-md-8">
								<span th:text="${repositorio.location.location}">Localização</span>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-4"><b>Version: </b></div>
							<div class="col-md-8">
								<span th:text="${repositorio.versionManager.versionManager}">Versionamento</span>
							</div>
						</div>	
				
						<hr />
			
						<div class="row">
							<div class="col-md-12">
								<span th:text="${repositorio.description}">Descrição</span><br />
							</div>
						</div>
						
						<hr />
						
						<div class="row">
							<div class="col-md-4">
								<a class="btn btn-success btn-sm">
									Conectar
								</a>
							</div>
							<div class="col-md-4">
								<a class="btn btn-default btn-sm">
									Editar
								</a>
							</div>
							<div class="col-md-4">
								<a class="btn btn-danger btn-sm">
									Desconectar
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			
		</div>
		
</div>

</html>