<html layout:decorator="layouts/layout_admin">
	<head>
		<meta charset="UTF-8"/>
	</head>
	
	<div layout:fragment="admin_content">
		<div th:if="${obj.id == null}">
			<h3>Cadastrar <span th:text="${controllerTitle}"/></h3>
		</div>
		
		<div th:if="${obj.id != null}">
			<h3>Editar <span th:text="${controllerTitle}"/></h3>
		</div>
		
		<form class="form-horizontal" 
			th:action="@{/project/create}" th:object="${obj}" action="#" method="post">
			
			<div class="form-group">
				<label for="name" class="col-sm-2 control-label">Nome: </label>
				 <div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{name}" placeholder="Nome"/>
				</div>
			</div>
			
			<div class="form-group">	
				<label for="url" class="col-sm-2 control-label">Caminho: </label>
				 <div class="col-sm-10">
					<input type="text" class="form-control" th:field="*{path}" />
				</div>
			</div>
			
			<div class="form-group">
				<label for="versionManager" class="col-sm-2 control-label">Repositório: </label>
				<div class="col-sm-10">
					<select th:field="*{repositoryLocation}" class="form-control">
					    <option value="NONE">---- SELECIONE ----</option>
					    <option th:each="repositoryLoc : ${repositories}"
					            th:value="${repositoryLoc.id}"
					            th:text="${repositoryLoc.name}">NULL</option>
					</select>
				</div>
			</div>
			
			<!-- Atributo usado na alteraçao do obj.  -->
			<input type="hidden" th:field="*{id}" />
			
			<div class="form-group">
				<div class="col-sm-3"></div>
				<div class="col-sm-3">
					<a class="btn btn-default" th:href="@{/project/cancel}">Cancelar</a>
				</div>
				<div class="col-sm-3">
					<button type="submit" class="btn btn-success">Cadastrar</button>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</form>
	</div>
	
</html>