<html layout:decorator="layouts/layout_admin">
	<head>
		<meta charset="UTF-8"/>
		
		<script type="text/javascript">
			var stompClient = null;
		
			function connectSockJS() {
				console.log('starting connection...');
	            var socket = new SockJS('/syncstatusmsg');
	            stompClient = Stomp.over(socket);
	            stompClient.connect({}, function(frame) {
	                console.log('Connected: ' + frame);
	                stompClient.subscribe('/project/syncstatus', function(message_status){
	                    showSyncStatus(JSON.parse(message_status.body).content);
	                });
	            });
	        }
			
			function refreshSyncStatus(){
				$.ajax({
		            type: "GET",
		            url: "/Codyzer/project/sync_status",
		            data: { },
		            success: showSyncStatus,
		            error : function(e) {
						console.log("ERROR: ", e);
					},
					done : function(e) {
						console.log("DONE");
					}
		        });
			}
			
			function showSyncStatus(data, status){
				console.log(data)
				console.log(data.label);
				console.log(data.subLabel);
				$('#response_sync_status').text(data.label);
				$('#response_sync_substatus').text(data.subLabel);
			}
			
			$( document ).ready(function() {
				setInterval(refreshSyncStatus, 3000);
			});
		</script>
	</head>
	
	<div layout:fragment="admin_content">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Projetos</h3>
				  </div>
				  
				  <div class="panel-body">
				  
				  	<div class="row">
						<div class="col-lg-12">
							<a class="btn btn-primary" th:href="@{/project/create}">
								Novo <span th:text="${controllerTitle}"/>
							</a>
						</div>
					</div>
					
				  	<hr />
				  	
				  	<div class="row">
						<div class="col-lg-12">
							<p id="response_sync_status" th:text="${syncStatus}"></p>
							<p id="response_sync_substatus" ></p>
						</div>
					</div>
				  	
				  	<hr />
				  	
				  	<div th:if="${#lists.isEmpty(list)}">
						<i>Nenhum projeto localizado.</i>
					</div>
				  	
				  	<table class="table table-striped" th:if="!${#lists.isEmpty(list)}">
				  		<tr>
							<th width="15%">Nome</th>
							<th width="30%">Caminho</th>
							<th width="15%">Repositório</th>
							<th width="30%">Última Sincronização</th>
							<th width="5%">Configurações</th>
							<th width="5%">Sincronizar</th>
						</tr>
						<tr th:each="item : ${list}">
							<td th:text="${item.name}"></td>
							<td th:text="${item.path}"></td>
							<td th:text="${item.repositoryLocation.name}"></td>
							<td th:text="${item.getSyncText()}"></td>
							<td>
								<form action="#" th:action="@{/project/configuration/edit}" method="post" >
				    				<input type="hidden" name="idObj" th:value="${item.id}" />
				    				<input type="submit" class="btn btn-primary btn-sm" value="Configurar" />
				    			</form>
							</td>
							<td>
								<form action="#" th:action="@{/project/configuration/sync}" method="post" >
				    				<input type="hidden" name="idObj" th:value="${item.id}" />
				    				<input type="submit" class="btn btn-primary btn-sm" value="Sincronizar" />
				    			</form>
							</td>
						</tr>
				  	</table>
				  	
				  </div> 
				</div>
			</div>
		</div>
		
</div>

</html>