<html layout:decorator="layouts/layout_admin">
	<head>
		<meta charset="UTF-8"/>
	</head>
	
	<div layout:fragment="admin_content">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Projetos</h3>
				  </div>
				  
				  <div class="panel-body">
				  
				  	<div class="row">
						<div class="col-lg-12">
							<a class="btn btn-primary" th:href="@{/project/create}">
								Novo <span th:text="${controllerTitle}"/>
							</a>
						</div>
					</div>
					
				  	<hr />
				  	
				  	<div th:if="${#lists.isEmpty(list)}">
						<i>Nenhum projeto localizado.</i>
					</div>
				  	
				  	<table class="table table-striped" th:if="!${#lists.isEmpty(list)}">
				  		<tr>
							<th>Nome</th>
							<th>Caminho</th>
							<th>Repositório</th>
							<th>Última Sincronização</th>
							<th>Configurações</th>
							<th>Sincronizar</th>
						</tr>
						<tr th:each="item : ${list}">
							<td th:text="${item.name}"></td>
							<td th:text="${item.path}"></td>
							<td th:text="${item.repositoryLocation.name}"></td>
							<td th:text="${item.getSyncText()}"></td>
							<td>
								<form action="#" th:action="@{/project/configuration/edit}" method="post" >
				    				<input type="hidden" name="idObj" th:value="${item.id}" />
				    				<input type="submit" class="btn btn-primary btn-sm" value="Configurar" />
				    			</form>
							</td>
							<td>
								<form action="#" th:action="@{/project/configuration/sync}" method="post" >
				    				<input type="hidden" name="idObj" th:value="${item.id}" />
				    				<input type="submit" class="btn btn-primary btn-sm" value="Sincronizar" />
				    			</form>
							</td>
						</tr>
				  	</table>
				  	
				  </div> 
				</div>
			</div>
		</div>
		
</div>

</html>