<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <!--<link rel="icon" href="../../favicon.ico"/>-->

    <title>Source Miner</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/arqcustom.css}"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/styles/xcode.min.css" />
    <script th:src="@{/js/jquery-2.2.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.2.0/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
    <script th:src="@{/js/sockjs-0.3.4.js}"></script>
    <script th:src="@{/js/stomp.js}"></script>
    
    <script>hljs.initHighlightingOnLoad();</script>
    
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px; border-radius: 0px;">
    <ul class="nav navbar-nav">
    	<li><a th:href="@{/home/}">Home</a></li>
    	<li><a th:href="@{/repository_location/index}">Admin</a></li>
    </ul>
</nav>
<div class="jumbotron">
    <div style="margin-left: 10%">
	    <h1>SourceMiner</h1>
	    
	    <div sec:authorize="isAuthenticated()">
	    	<p>
	    		Usuário: <span th:text="${userLogged.username}" /> <br />
				<a th:href="@{/logout}">Sair</a>
	    	</p>
	    	<p th:if="${repositoryConnetionSession.connectionOpened}">
	    		<span th:text="${repositoryConnetionSession.connectionName}">Conexão Aberta</span>
	    		(<a th:href="@{/repository_connector/close_connection}">Desconectar</a>)
	    	</p>
		</div>
 	</div>
 </div>

<!--  Exibição de erros na view -->
<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
		<!-- Exibição de erros através da arquitetura -->
		<div class="alert alert-danger alert-dismissible" role="alert" th:if="!${#lists.isEmpty(arqErros)}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<ul>
  				<li th:each="error: ${arqErros}" th:text="${error}">Error</li>
			</ul>
		</div>
		<!-- Exibição de erros de validação do spring mvc -->
		<!--  
		<div class="alert alert-danger alert-dismissible" role="alert" th:if="${#fields.hasErrors('*')}">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<ul>
  				<li th:each="error: ${#fields.errors('*')}" th:text="${error}">Error</li>
			</ul>
		</div>
		-->
	</div>
</div>

<div class="row">
	<div class="col-lg-10 col-lg-offset-1">
	    <div layout:fragment="content">
	    	<!-- Conteúdo -->
	    </div>
	</div>
</div>

<br /><br />

<footer class="footer" >
	<div  id="footer">
		<div class="row">
			<div class="col-lg-10 col-lg-offset-1">
				<hr />
	     		<p class="text-muted">SourceMiner - ESIG Sofware e Consultoria</p>
	     	</div>
	     </div>
	</div>
</footer>

</body>

</html>