<html layout:decorator="layouts/layout">
	<head>
		<meta charset="UTF-8"/>
	</head>
	
	<div layout:fragment="content">
		<h3>Área Administrativa</h3>
		
		<div class="row">
			<!-- Menu Admin -->
			<div class="col-lg-3">
				<div class="panel panel-default">
					<div class="panel-body">
						<ul class="nav nav-pills nav-stacked">
							<li role="presentation"><a href="#" th:href="@{/repository_location/index}">Repositórios</a></li>
							<li role="presentation"><a href="#" th:href="@{/project/index}">Projetos</a></li>
							<li role="presentation"><a href="#" th:href="@{/metric_case/index}">Case de Métricas</a></li>
							<li role="presentation"><a href="#">Usuários</a></li>
						</ul>
					</div>
				</div>
			</div>
			
			<div class="col-lg-9">
				<div class="panel panel-default">
					<div class="panel-body">
						<div layout:fragment="admin_content">
					    	<!-- Conteúdo -->
					    </div>
					</div>
				</div> 
			</div>
		</div>
					
	</div>

</html>