<html layout:decorator="layouts/layout">
	<head>
		<meta charset="UTF-8"/>
	</head>
	
	<div layout:fragment="content">
		<div class="col-md-10">
				<h3>Dashboard - Detalhes arquivo</h3>
			</div>
			<div class="col-md-2">
				<form action="#" th:action="@{/dashboard/project_dashboard}" method="post">
					<input type="hidden" name="idProject" th:value="${project.id}" />
					<input type="submit" class="btn btn-primary" value="Dashboard" />
				</form>
			</div>
		
		<!-- Primeira linha -->
		<div class="row">
			<div class="col-md-12">
			
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Informações do Projeto</h3>
				  </div>
				  <div class="panel-body">
				  
				  	<div class="row">
					    <div class="col-md-2">
					    	<b>Repositório:</b>
					    </div>
					    <div class="col-md-10">
					    	<span th:text="${repositoryConnetionSession.connectionName}"></span>
					    </div>
				    </div>
				    
				    <div class="row">
					    <div class="col-md-2">
					    	<b>Projeto:</b>
					    </div>
					    <div class="col-md-10">
					    	<span th:text="${project.name}"></span>
					    </div>
				    </div>
				    
				  </div>
				</div>
				
			</div>
		</div>
		
		<hr />
		
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Detalhes do arquivo</h3>
				  </div>
				  
				  <div class="panel-body">
				  	<div class="row">
				  		<div class="col-md-2">
				  			<b>Nome:</b>
				  		</div>
				  		<div class="col-md-10">
				  			<span th:text="${item.name}" />
				  		</div>
				  	</div>
				  	
				  	<div class="row">
				  		<div class="col-md-2">
				  			<b>Path:</b>
				  		</div>
				  		<div class="col-md-10">
				  			<span th:text="${item.getFullPath()}" />
				  		</div>
				  	</div>
				  	
				  	<div class="row">
				  		<div class="col-md-2">
				  			<b>Projeto:</b>
				  		</div>
				  		<div class="col-md-10">
				  			<span th:text="${project.name}" />
				  		</div>
				  	</div>
				  	
				  </div>
				</div>
			</div>
		</div>
		
		<hr />
		
		<h3>Conteúdo do arquivo</h3>
		
		<hr />
		
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Revisões</h3>
				  </div>
				  
				  <div class="panel-body">
				  	<table class="table table-striped">
				  		<thead>
				  			<th>Revisão</th>
				  			<th>Comentário</th>
				  			<th>Autor</th>
				  			<th>Data</th>
				  			<th>Detalhes</th>
				  		</thead>
				  		<tr th:each="revisionItem : ${item.revisionItem}">
				  			<td th:text="${revisionItem.repositoryRevision.revision}"></td>
				  			<td th:text="${revisionItem.repositoryRevision.comment}"></td>
				  			<td th:text="${revisionItem.repositoryRevision.author}"></td>
				  			<td th:text="${revisionItem.repositoryRevision.dateRevision}"></td>
				  			<td>
				  				<form action="#" th:action="@{/dashboard/revision_details}" method="post">
				  					<input type="hidden" name="idRevision" th:value="${revisionItem.repositoryRevision.id}" />
				  					<input type="submit" class="btn btn-primary btn-xs" value="Detalhes" />
				  				</form>
				  			</td>
				  		</tr>
				  	</table>
				  </div> 
				</div>
			</div>
		</div>
		
	</div>
	

</html>