<html layout:decorator="layouts/layout">
	<head>
		<meta charset="UTF-8"/>
		
		<script type="text/javascript">
		
		function getFileContentInRevision(path){
			var revisionNumber = $("#revisionFile").val();
			
			$.ajax({
	            type: "POST",
	            url: "/SourceMiner/dashboard/file_content_revision",
	            data: { 'revisionNumber': revisionNumber, 'path': path  },
	            success: changeFileContentRevision,
	            error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
	            });
		}
		
		function changeFileContentRevision(data, status){
			$('#fileContentBox').text(data);
		}
		</script>
		
	</head>
	
	<div layout:fragment="content">
		<div class="col-lg-10">
				<h3>Dashboard - Detalhes arquivo</h3>
			</div>
			<div class="col-lg-2">
				<form action="#" th:action="@{/dashboard/project_dashboard}" method="post">
					<input type="hidden" name="idProject" th:value="${project.id}" />
					<input type="submit" class="btn btn-primary" value="Dashboard" />
				</form>
			</div>
		
		<!-- Primeira linha -->
		<div class="row">
			<div class="col-lg-6">
			
				<div class="panel panel-default" style="height: 150px">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Informações do Projeto</h3>
				  </div>
				  <div class="panel-body">
				  
				  	<div class="row">
					    <div class="col-lg-3">
					    	<b>Repositório:</b>
					    </div>
					    <div class="col-lg-9">
					    	<span th:text="${repositoryConnetionSession.connectionName}"></span>
					    </div>
				    </div>
				    
				    <div class="row">
					    <div class="col-lg-3">
					    	<b>Projeto:</b>
					    </div>
					    <div class="col-lg-9">
					    	<span th:text="${project.name}"></span>
					    </div>
				    </div>
				    
				  </div>
				</div>
				
			</div>
			
			<div class="col-lg-6">
				<div class="panel panel-default" style="height: 150px">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Detalhes do arquivo</h3>
				  </div>
				  
				  <div class="panel-body">
				  	<div class="row">
				  		<div class="col-lg-2">
				  			<b>Nome:</b>
				  		</div>
				  		<div class="col-lg-10">
				  			<span th:text="${item.name}" />
				  		</div>
				  	</div>
				  	
				  	<div class="row">
				  		<div class="col-lg-2">
				  			<b>Projeto:</b>
				  		</div>
				  		<div class="col-lg-10">
				  			<span th:text="${project.name}" />
				  		</div>
				  	</div>
				  	
				  	<div class="row">
				  		<div class="col-lg-2">
				  			<b>Path:</b>
				  		</div>
				  		<div class="col-lg-10">
				  			<span th:text="${item.path}" />
				  		</div>
				  	</div>
				  	
				  </div>
				</div>
			</div>
			
		</div>
		
		<hr />
		
		<h3>Conteúdo do arquivo</h3>
		<div class="row">
			<div class="col-lg-8">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">
				  		<div class="row">
					  		<div class="col-lg-10">
					  			<span th:text="${item.name}" />
					  		</div>
					  		<div class="col-lg-2">
					  			<select class="form-control" id="revisionFile" th:onchange="'getFileContentInRevision(\'' + ${item.path} + '\');'">
								    <option th:each="revisionNumber: ${revisionsNumber}"
								            th:value="${revisionNumber}"
								            th:text="${revisionNumber}">Local</option>
								</select>
							</div>
						</div>
				  	</h3>
				  </div>
				  <div class="panel-body">
				  	<div class="code-block">
				  		<pre>
				  			<code th:text="${fileContent}" id="fileContentBox"></code>
				  		</pre>
				  	</div>
				  </div>
				</div>
			</div>
			
			
			<div class="col-lg-4">
				<div class="panel panel-default">
				
				  <div class="panel-heading">
				  	<h3 class="panel-title">Change History</h3>
				  </div>
				  
				  <div class="panel-body code-block">
				  	<div class="row">
				  		<div class="col-lg-12">
				  			<a class="btn-sm btn-primary" role="button" data-toggle="collapse" href="#formChangeLogSearch" aria-expanded="false" aria-controls="formRevisionSearch">
							  Filtros de Busca
							</a>
							
							<div class="collapse" id="formChangeLogSearch">
					 			<div class="well">
					 				 <form action="#" th:action="@{/dashboard/item_details}" th:object="${itemChangeLogFilter}" method="post" class="form-horizontal">
					    
								    	<div class="form-group">
								    		<div class="col-sm-1">
								    			<input type="checkbox" th:field="*{checkAssetType}" />
								    		</div>
											<label for="name" class="col-sm-2 control-label">Tipo: </label>
											<div class="col-sm-8">
												<select class="form-control" id="filterAssetType" th:field="*{assetType}">
													<option label="-- SELECIONE --" value="">-- SELECIONE --</option>
												    <option th:each="assetType: ${assetTypeList}"
												            th:value="${assetType.description}"
												            th:text="${assetType.description}">Tipo</option>
												</select>
											</div>
										</div>
										
										<div class="form-group">
											<div class="col-sm-4 col-sm-offset-3">
												<input type="hidden" name="idItem" th:value="${item.id}" />
												<button type="submit" class="btn-sm btn-primary">Filtrar</button>
											</div>
										</div>
									</form>
					 			</div>
					 		</div>
					 		
				  		</div>
				  	</div>
				  	<div class="row" th:each="changeLogGroup : ${historyChangeLog}">
				  		<div class="col-lg-12">
					  		<table class="table table-striped">
					  			<caption>Revisão: <span th:text="${changeLogGroup.revision}" /> </caption>
					  			<tr th:each="itemChangeLog : ${changeLogGroup.changeLogs}">
					  				<td th:style="'background-color: ' + ${itemChangeLog.getBackgroundColorHexa()}">
					  					<span th:text="${itemChangeLog.getChangeLogDesc()}"/>
					  				</td>
					  			</tr>
					  		</table>
				  		</div>
				  	</div>
				  </div>
				  
				</div>
				
			</div>
			
		</div>
		
		<hr />
		
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
				  <div class="panel-heading">
				  	<h3 class="panel-title">Revisões</h3>
				  </div>
				  
				  <div class="panel-body">
				  	<table class="table table-striped">
				  		<thead>
				  			<th>Revisão</th>
				  			<th>Comentário</th>
				  			<th>Autor</th>
				  			<th>Data</th>
				  			<th>Detalhes</th>
				  		</thead>
				  		<tr th:each="revisionItem : ${item.revisionItem}">
				  			<td th:text="${revisionItem.repositoryRevision.revision}"></td>
				  			<td th:text="${revisionItem.repositoryRevision.comment}"></td>
				  			<td th:text="${revisionItem.repositoryRevision.author}"></td>
				  			<td th:text="${revisionItem.repositoryRevision.dateRevision}"></td>
				  			<td>
				  				<form action="#" th:action="@{/dashboard/revision_details}" method="post">
				  					<input type="hidden" name="idRevision" th:value="${revisionItem.repositoryRevision.id}" />
				  					<input type="submit" class="btn btn-primary btn-xs" value="Detalhes" />
				  				</form>
				  			</td>
				  		</tr>
				  	</table>
				  </div> 
				</div>
			</div>
		</div>
		
	</div>
	

</html>