<html layout:decorator="layouts/layout_admin">
<head>
<meta charset="UTF-8" />
</head>

<div layout:fragment="admin_content">
	<div th:if="${obj.id == null}">
		<h3>
			Cadastrar <span th:text="${controllerTitle}" />
		</h3>
	</div>

	<div th:if="${obj.id != null}">
		<h3>
			Editar <span th:text="${controllerTitle}" />
		</h3>
	</div>

	<form class="form-horizontal"
		th:action="@{/project/configuration/create}" th:object="${obj}"
		action="#" method="post">

		<div class="form-group">
			<label for="name" class="col-sm-8 control-label">Sincronizar
				Branch de Origem: </label>
			<div class="col-sm-4">
				<select th:field="*{joinParentBrach}" class="form-control">
					<option value="FALSE">Desligado</option>
					<option value="TRUE">Ligado</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-8 control-label">Sincronizar
				Mudanças nas Classes por revisão: </label>
			<div class="col-sm-4">
				<select th:field="*{fullAssetSync}" class="form-control">
					<option value="FALSE">Desligado</option>
					<option value="TRUE">Ligado</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-8 control-label">Sincronizar
				Histórico de Mudanças: </label>
			<div class="col-sm-4">
				<select th:field="*{syncChangeLog}" class="form-control">
					<option value="FALSE">Desligado</option>
					<option value="TRUE">Ligado</option>
				</select>
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-8 control-label">Acesso ao
				projeto: </label>
			<div class="col-sm-4">
				<select th:field="*{published}" class="form-control">
					<option value="FALSE">Restrito</option>
					<option value="TRUE">Público</option>
				</select>
			</div>
		</div>
		
		<div class="form-group">
			<label for="name" class="col-sm-8 control-label">Case de Métricas: </label>
			<div class="col-sm-4">
				<select th:field="*{metricCase}" class="form-control">
					<option value="">SELECIONE</option>
					<option th:each="case : ${metricCases}"
						th:value="${case.id}" 
						th:text="${case.name}">Case de Métrica</option>
				</select>
			</div>
		</div>

		<!-- Atributo usado na alteraçao do obj.  -->
		<input type="hidden" th:field="*{id}" />

		<div class="form-group">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<a class="btn btn-default" th:href="@{/project/cancel}">Cancelar</a>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-success">Salvar</button>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</form>
</div>

</html>