<html layout:decorator="layouts/layout_admin">
<head>
	<meta charset="UTF-8" />
	<script type="text/javascript">
		
		function validateMetric(){
			var idMetric = $('#metricID').val();
			var valueMetric = $('#metricValue').val();
			
			if(idMetric == null)
				return false;
			if( (valueMetric == null) || (valueMetric == "") )
				return false;
			
			return true;
		}
	
		function addMetricValue(){
			if(validateMetric())
				sendDataToController()
		}
		
		function sendDataToController(){
			var idMetric = $('#metricID').val();
			var valueMetric = $('#metricValue').val();
			
			$.ajax({
	            type: "POST",
	            url: "/SourceMiner/metric_case/add_metric_case_item",
	            data: { 'idMetric': idMetric, 'valueMetric': valueMetric  },
	            success: function(responce) {   
	            	$.each( responce,function(key, item) {
			        	var htmlrow = '<tr id="lineCase'+item.id+'" > '
			        				+"<td>" + item.metric.description + "</td>"
			        				+"<td>" + item.threshold + "</td>"
			        				+"<td> "
			        				+	'<input type="button" class="btn btn-danger" id="addMetric" value="Remover" onclick="removeMetricCase('+item.id+')" />'
			        				+"</td>"
			        				+"</tr>";  
			    		$('#caseMetricTable').append(htmlrow);
			    	});
	            },
	            error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
	        });
		}
		
		function removeMetricCase(idMetricItemCase){
			var lineId = "lineCase"+idMetricItemCase
			console.log(lineId);
			$('#'+lineId+'').remove();
			/*
			$.ajax({
	            type: "POST",
	            url: "/SourceMiner/metric_case/remove_metric_case_item",
	            data: { 'idCaseMetricItem': idCaseMetricItem  },
	            success: function(responce) { 
			    		
	            },
	            error : function(e) {
					console.log("ERROR: ", e);
				},
				done : function(e) {
					console.log("DONE");
				}
	        });
			*/
		}
	</script>
</head>

<div layout:fragment="admin_content">
	<div th:if="${obj.id == null}">
		<h3>
			Cadastrar <span th:text="${controllerTitle}" />
		</h3>
	</div>

	<div th:if="${obj.id != null}">
		<h3>
			Editar <span th:text="${controllerTitle}" />
		</h3>
	</div>

	<form class="form-horizontal"
		th:action="@{/metric_case/create}" th:object="${obj}"
		action="#" method="post">

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Nome: </label>
			<div class="col-sm-10">
				<input type="text" th:field="*{name}" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<label for="name" class="col-sm-2 control-label">Métricas: </label>
			<div class="col-sm-6">
				<select class="form-control" id="metricID">
					<option th:each="metric: ${metrics}"
						th:value="${metric.id}"
						th:text="${metric.description}">Métrica</option>
				</select>
			</div>
			<div class="col-sm-2">
				<input type="number" id="metricValue" />
			</div>
			<div class="col-sm-2">
				<input type="button" class="btn btn-sucess" id="addMetric" value="Adicionar" onclick="addMetricValue();" />
			</div>
		</div>
		
		<div class="form-group">
			<table class="table table-striped" id="caseMetricTable">
				<tr>
					<th>Nome</th>
					<th>Valor</th>
					<th>Remover</th>
				</tr>
				<tr th:each="item : ${obj.caseMetricItems}">
					<td th:text="${item.metric.name}"></td>
					<td th:text="${item.threshold}"></td>
				</tr>
			</table>
		</div>

		<!-- Atributo usado na alteraçao do obj.  -->
		<input type="hidden" th:field="*{id}" />

		<div class="form-group">
			<div class="col-sm-3"></div>
			<div class="col-sm-3">
				<a class="btn btn-default" th:href="@{/metric_case/cancel}">Cancelar</a>
			</div>
			<div class="col-sm-3">
				<button type="submit" class="btn btn-success">Salvar</button>
			</div>
			<div class="col-sm-3"></div>
		</div>
	</form>
</div>

</html>